@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --primary: #013941;
  --primary-light: #e6fbf2;
  --border: #e0e0e0;
  --card-bg: #f7f7f7;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--primary);
  --color-primary-light: var(--primary-light);
  --color-border: var(--border);
  --color-card-bg: var(--card-bg);

  --font-outfit: var(--font-outfit);
}

@media (prefers-color-scheme: dark) {
  :root {
    /* --background: #0a0a0a;
    --foreground: #ededed;
    --color-primary: var(--primary);
    --color-border: var(--border); */
    --background: #ffffff;
    --foreground: #171717;
    --primary: #013941;
    --primary-light: #e6fbf2;
    --border: #e0e0e0;
    --card-bg: #f7f7f7;
  }
}

body {
  background: var(--color-gray-950);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

html {
  background: var(--color-gray-950);
}
